<div class="row">

  <ul class="list-group col-md-8 col-sm-12">
    <li *ngFor="let stockSymbol of stockSymbols" class="list-group-item">{{stockSymbol}}</li>
  </ul>  
  <form (ngSubmit)="onSubmit()" class="col-md-4 col-sm-12">
    <div class="form-group">
      <label for="stockSymbol">Stock Symbol</label>
      <!--TODO: Add validation and type-ahead. -->
      <input type="text" class="form-control" id="stockSymbol" name="stockSymbol" placeholder="Enter stock symbol"  [(ngModel)]="addedSymbol">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>