<div class="modal-header">
  <h4 class="modal-title">Add Symbols</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismissed')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li [ngClass]="{ odd: odd, even: even }" *ngFor="let stockSymbol of stockSymbols; let odd=odd; let even=even;" class="list-group-item">{{stockSymbol}}</li>
  </ul>  
  <form autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" id="stockSymbol" name="stockSymbol" placeholder="Enter stock symbol"  [(ngModel)]="addedSymbol">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Closed')">Close</button>
</div>