<div class="col-lg-12">
  <table class="table table-striped">
      <thead class="thead">
        <tr>
          <th class="col-md-4">Symbol</th>
          <th class="col-md-3">Price</th>
          <th class="col-md-3">Change</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let quote of quotes">
            <td><a [routerLink]="['/details', quote.symbol]">{{quote.symbol}}</a></td>
            <td>{{quote.price}}</td>
            <td>{{quote.change}}</td>         
            <td class="delete-symbol" (click)="deleteSymbol(quote.symbol)">&#x2716;</td>
          </tr>
      </tbody>
    </table>
    <span class="last-updated">Last Updated : {{ lastUpdated | date:'medium' }}</span>      
</div>